/* Styling for the question */
.question {
  margin: 20px; /* Adjust margin as needed */
}

.question h2 {
  font-size: 24px;
}

/* Styling for the quotation */
.quotation {
  max-width: 600px;
  margin: 10px;
  padding: 15px;
  border-left: 8px solid green;
  background-color: #f8fffe;
  font-weight: bold;
}
